figures/beamer-lake-fig
.log
*.log
*.out
*.nav
*.snm
*.toc
*.aux
.Rproj.user
.Rhistory
*.fls
*.fdb_latexmk
.RData
tables/01_lake_characteristics_table.tex
tables/02_model_results_table.tex
manuscript/appendix_cache/
manuscript/author-instructions_lno.md
figures/05_partition_vollenweider.tex
manuscript/appendix.tex
figures/unnamed-chunk*
manuscript/figures.tex
tables/crop
figures/grayscale/*.pdf
manuscript/*.docx
figures/*.tiff
figures/*.png
tables/*.pdf
manuscript/reviewer_comments/
scripts/*.stan
figures_backup.zip
figures/old
figures/*.pdf
figures/*.tex
figures/conceptual_p-cycle.xml
manuscript/01_lno_submission.pdf
manuscript/02_lno_submission.pdf
nes_iws.rds
nes_nws.rds
nes_rf_iws.rds
nes_rf_nws.rds
manuscript/*cover-letter.md
manuscript/*.log
manuscript/manuscript.tex
manuscript/grayscale_figures.tex
