figures/beamer-lake-fig
.log
*.log
*.out
*.nav
*.snm
*.toc
*.aux
.Rproj.user
.Rhistory
figures/recursive_partitioning_viz*.pdf
figures/graphical_exploratory_analysis*.pdf
*.fls
*.fdb_latexmk
.RData
figures/recursive_partitioning_viz-10.png
figures/recursive_partitioning_viz-11.png
figures/recursive_partitioning_viz-1.png
figures/recursive_partitioning_viz-2.png
figures/recursive_partitioning_viz-3.png
figures/recursive_partitioning_viz-4.png
figures/recursive_partitioning_viz-5.png
figures/recursive_partitioning_viz-6.png
figures/recursive_partitioning_viz-7.png
figures/recursive_partitioning_viz-8.png
figures/recursive_partitioning_viz-9.png
figures/recursive_partitioning_viz-10.png~
figures/recursive_partitioning_viz-11.png~
figures/recursive_partitioning_viz-1.png~
figures/recursive_partitioning_viz-2.png~
figures/recursive_partitioning_viz-3.png~
figures/recursive_partitioning_viz-4.png~
figures/recursive_partitioning_viz-5.png~
figures/recursive_partitioning_viz-6.png~
figures/recursive_partitioning_viz-7.png~
figures/recursive_partitioning_viz-8.png~
figures/recursive_partitioning_viz-9.png~
figures/partition_vollenweider_viz-1.pdf
figures/partition_vollenweider_viz-1.png
figures/partition_vollenweider_viz-1.png~
figures/partition_vollenweider_viz-2.pdf
figures/partition_vollenweider_viz-2.png
figures/partition_vollenweider_viz-2.png~
figures/conny_metric_key_crop.pdf
figures/conny_metric_key-crop.pdf
figures/conny_metric_key.pdf
figures/cor_mat_hmap-1.pdf
figures/global_vollenweider_viz-1.pdf
figures/graphical_exploratory_analysis-1.pdf
figures/graphical_exploratory_analysis-2.pdf
figures/graphical_exploratory_analysis-3.pdf
figures/graphical_exploratory_analysis-4.pdf
figures/graphical_exploratory_analysis-5.pdf
figures/graphical_exploratory_analysis_cont-1.pdf
figures/graphical_exploratory_analysis_cont_cont-1.pdf
figures/iws_nws.pdf
figures/k_viz-1.pdf
figures/maps-1.pdf
figures/nls_coefs.pdf
figures/p_retention_boxplot.pdf
figures/recursive_partitioning_viz-10.pdf
figures/recursive_partitioning_viz-11.pdf
figures/recursive_partitioning_viz-1.pdf
figures/recursive_partitioning_viz-2.pdf
figures/recursive_partitioning_viz-3.pdf
figures/recursive_partitioning_viz-4.pdf
figures/recursive_partitioning_viz-5.pdf
figures/recursive_partitioning_viz-6.pdf
figures/recursive_partitioning_viz-7.pdf
figures/recursive_partitioning_viz-8.pdf
figures/recursive_partitioning_viz-9.pdf
figures/conceptual_p-cycle.png
figures/conceptual_pp.png
figures/conny_metric_key_crop.png
figures/conny_metric_key-crop.png
figures/conny_metric_key.png
figures/cor_mat_hmap-1.png
figures/global_vollenweider_viz-1.png
figures/graphical_exploratory_analysis-1.png
figures/graphical_exploratory_analysis-2.png
figures/graphical_exploratory_analysis-3.png
figures/graphical_exploratory_analysis-4.png
figures/graphical_exploratory_analysis-5.png
figures/graphical_exploratory_analysis_cont-1.png
figures/graphical_exploratory_analysis_cont_cont-1.png
figures/iws_nws.png
figures/k_viz-1.png
figures/maps-1.png
figures/nls_coefs.png
figures/p_retention_boxplot.png
tables/01_lake_characteristics_table.tex
tables/02_model_results_table.tex
manuscript/appendix_cache/
manuscript/author-instructions_lno.md
figures/05_partition_vollenweider.tex
manuscript/appendix.tex
figures/unnamed-chunk*
manuscript/figures.tex
tables/crop
figures/grayscale/*.pdf
manuscript/*.docx
figures/*.tiff
figures/*.png
tables/*.pdf
