figures/beamer-lake-fig
.log
*.log
*.out
*.nav
*.snm
*.toc
*.aux
.Rproj.user
.Rhistory
figures/recursive_partitioning_viz*.pdf
figures/graphical_exploratory_analysis*.pdf
*.fls
*.xml
*.fdb_latexmk
figures/*.png
figures/*.pdf
.RData
